
/* ===== GENERAL ===== */

body {
  background: #fcfcfa;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
}

.normal {
  padding: 4% 7%;
}

#logo {
  display: inline;
  width: 100px;
  border-radius: 5px;
}

#heading {
  display:inline;
  padding-left: 30px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* ===== WRAPPER ===== */

.wrapper {
  background-color: white;
  margin: 3%;
}

.jumbotron {
  margin-bottom: 10px;
  padding: 10px;
}

/* ===== CHART STUFF ====== */

svg {
  margin-top: 2%;
  margin-bottom: 2%;
}

.chart {
  margin-bottom: 5%;
  background-color: white;
}

/* ===== TITLE ===== */

.title {
  padding: 10%;
  padding-bottom: 3%;
  color: black;
}

.title h1 {
  text-shadow: 1px 1px 1px #000;
  font-size: 5em;
  text-decoration: underline;
  /*-moz-text-decoration-color: white;  Code for Firefox */
  text-decoration-color: white;
}

tr {
  height: 40px;
}

td {
  font-family: Consolas, serif;
  font-size: 12px;
}