
/* ===== GENERAL ===== */
body {
  background: #fcfcfa;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
  background-color: #1E2F43;
}

.normal {
  padding: 4% 7%;
}

#icon {
  display: inline;
  width: 100px;
  border-radius: 5px;
}

#logo {
  display: inline;
  width: 200px;
  border-radius: 5px;
}

#heading {
  display:inline;
  padding-left: 30px;
  padding-top: 30px;
  font-weight: 800;
  font-size: 72px;
}

#header {
  text-align: center;
}

#footer {
  text-align: center;
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: 12em;
}
#footer a {
  color: #fff;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* ===== NAVBAR ===== */
.navbar-default {
  background-color: #0779B5;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 16px;
}

.centerContainer {
    text-align: center;
}

.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

ul {
  width: 70%;
  margin: auto;
}

/* ===== WRAPPER ===== */

.wrapper {
  background-color: white;
  margin: 3%;
}

.jumbotron {
  margin-bottom: 10px;
  padding: 10px;
}

/* ===== CHART STUFF ====== */

svg {
  margin-top: 2%;
  margin-bottom: 2%;
}

.chart {
  margin-bottom: 5%;
  background-color: white;
}

/* ===== TITLE ===== */

.title {
  padding: 10%;
  padding-bottom: 3%;
  color: black;
}

.title h1 {
  text-shadow: 1px 1px 1px #000;
  font-size: 5em;
  text-decoration: underline;
  /*-moz-text-decoration-color: white;  Code for Firefox */
  text-decoration-color: white;
}

tr {
  height: 40px;
}

td {
  font-family: Consolas, serif;
  font-size: 12px;
}

.center-y {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}