{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <h4>Partner Stores</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                <th>Store Name</th>
                <th>Store Address</th>
                <th>Code</th>
                </tr>
            </thead>
            <tbody>
                {% for store in stores %}
                    <tr>
                        <td>{{ store.storeName }}</td>
                        <td>{{ store.storeAddress }}</td>
                        <td>{{ store.returnCode }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    

    <div class="col-md-6">
        <h4>Orders Returned</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                <th>Order #</th>
                <th>Item Code</th>
                <th>Store Name</th>
                <th>Store Address</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data_returned %}
                    <tr>
                        <td>{{ item.orderNumber }}</td>
                        <td>{{ item.itemCode }}</td>
                        <td>{{ item.storeName }}</td>
                        <td>{{ item.storeAddress }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
api_key = "AIzaSyDjaN3_MGrxGnO11Jo-0WqNPMc2J3nrt5s"
function initMap() {
  var myLatLng = {lat: 47.3686, lng: 8.5392};

  // Create a map object and specify the DOM element for display.
  var map = new google.maps.Map(document.getElementById('map'), {
    center: myLatLng,
    scrollwheel: false,
    zoom: 4
  });

  var geocoder = new google.maps.Geocoder();


  // Create a marker and set its position.

  //TODO: Replace this
  //places = [{"Home": "69 Brown Street, Providence RI"}];
  console.log({{data_returned}});
  var lastloc;
  {% for item in data_returned %}
    lastloc = geocodeAddress(item, geocoder, map);
  {% endfor %}
  if(lastloc != undefined) {
    map.setCenter(lastloc);
  }
  //for(var j=0; j< places.length; j++) {
    //geocodeAddress(places[j], geocoder, map);
  //}
};

function geocodeAddress(place, geocoder, resultsMap) {
  console.log("trying");
  geocoder.geocode({'address': place[storeAddress]}, function(results, status) {
    if (status === google.maps.GeocoderStatus.OK) {
      console.log("New marker:" + place);
      var marker = new google.maps.Marker({
        map: resultsMap,
        position: results[0].geometry.location,
        title: place[storeName]
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
  return results[0].geometry.location;
}
initMap()
    </script>
    <style>
#map {
  width:600px;
  height:400px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
    </style>
    <div id="map"></div>
</div>

<script async defer
     src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjaN3_MGrxGnO11Jo-0WqNPMc2J3nrt5s&callback=initMap">
</script>

{% endblock %}
