{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <h4>Partner Stores</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                <th>Store Name</th>
                <th>Store Address</th>
                <th>Code</th>
                </tr>
            </thead>
            <tbody>
                {% for store in stores %}
                    <tr>
                        <td>{{ store.storeName }}</td>
                        <td>{{ store.storeAddress }}</td>
                        <td>{{ store.returnCode }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    

    <div class="col-md-6">
        <h4>Orders Returned</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                <th>Order #</th>
                <th>Item Code</th>
                <th>Store Name</th>
                <th>Store Address</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data_returned %}
                    <tr>
                        <td>{{ item.orderNumber }}</td>
                        <td>{{ item.itemCode }}</td>
                        <td>{{ item.storeName }}</td>
                        <td>{{ item.storeAddress }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
